:root {
  --cl-main: rgb(243, 51, 147);
  --cl-font: #333;
  --cl-grey: rgb(146, 146, 146);
  --cl-shadow: rgba(0, 0, 0, 0.295);
  --cl-white: #fff;
  --cl-blue: skyblue;
  --cl-orangade: rgb(247, 104, 47);
  --font-text: "Shojumaru";
  --cl-grad1: rgba(83, 53, 255, 0.377);
  --cl-grad2: rgba(11, 6, 44, 0.377);
  --cl-formbg: rgba(23, 17, 66, 0.466);
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media only screen and (max-width: 48em) {
    font-size: 56.25%;
  }

  @media only screen and (max-width: 26.563em) {
    font-size: 50%;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  font-family: var(--font-text), sans-serif;
  font-weight: 400;
  line-height: 1.2;
  color: var(--cl-font);

  &::-webkit-scrollbar {
    width: 0.8rem;
    background-color: var(--cl-white);
    // border-radius: 5rem;
  }

  &::-webkit-scrollbar-thumb {
    background-image: linear-gradient(
      to bottom,
      var(--cl-main),
      var(--cl-orangade)
    );
    border-radius: 5rem;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px var(--cl-shadow);
    box-shadow: inset 0 0 6px var(--cl-shadow);
  }
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  font-size: 16px !important;
}

::selection {
  // background-color: var(--cl-primary);
  background-color: var(--cl-main);
  color: var(--cl-white);
}
