.taskform {
  display: grid;
  background-color: var(--cl-formbg);

  border-radius: 30px;
  padding: 2rem;
  box-shadow: 0.2rem 0.2rem 0.2rem var(--cl-shadow);

  &__element {
    display: grid;
    grid-row-gap: 2rem;
  }
}
