.tasksholder {
  display: grid;
  grid-row-gap: 4rem;
  color: var(--cl-white);

  &__create {
  }

  &__tasks {
    display: grid;
    grid-row-gap: 1rem;
  }

  &__empty {
    text-align: center;
  }
}
